{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
<div class="header">
    <h1>My website</h1>
</div>
<div class="menu">
    <ul class="menu_item">
        <li><a href="{% url 'polls:index' %}">Link 1</a></li>
        <li><a href="{% url 'polls:list' %}">Link 2</a></li>
        <li><a href="{% url 'polls:index' %}">Link 3</a></li>
    </ul>
</div>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>